#mainBody {
    background-image: url("/background.png");
    background-size: auto;
}
#video_overlays {
    position:absolute;
    background-image: url('/loading.gif');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    width:480px;
    margin: 0 auto;
    min-height:500px;
    background-color:rgba(0,0,0,0.5);
    z-index:300000;
}
#video_overlays2 {
    position:absolute;
    background-image: url('/face2.png');
    background-repeat: no-repeat;
    background-position: center;
    width:480px;
    min-height:480px;
    opacity: 0.5;
    z-index:300000;
}