<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/style.css">

  <title>RoboGin</title>
</head>

<body id="mainBody">
  <div class="container-fluid" id="app">
    <div class="row">
      <img src="/blueroom.png" style="margin: 0 auto; width: 480px; height: 143px;">
    </div>
    <div class="row" v-if=" app_state === 'front_page' ">
      <div style="width: 480px; height: 500px; overflow: hidden; display: block; margin: 0 auto;">
        <div id="video_overlays" v-if="show_loading"></div>
        <div id="video_overlays2" v-if="!show_loading"></div>
        <video style="background-color: black; margin-left: 0px; transform: scaleX(-1)" autoplay></video>
      </div>
    </div>
    <div class="row" v-if=" app_state === 'collect_drink' ">
      <div style="width: 480px; height: 500px; overflow: hidden; display: block; margin: 0 auto;">
        <div class="jumbotron" style="height: 100%; text-align: center;">
          <h1 id="drinkerCallout">You look like a {{ dispensed.selectedGin.name }} & {{ dispensed.selectedMixer.name }}
            drinker!</h1>
          <p class="lead" style="margin-top: 30px;">Dispensing your drink now! Please wait for the green light before
            collecting your drink.</p>
          <div class="container-fluid">
            <div class="row">
              <div class="col">
                <img id="firstImg" style="width: 100%; max-height: 150px;" v-bind:src="dispensed.selectedGin.picture">
              </div>
              <h1 style="font-size: 5rem; height: 100%; vertical-align: middle;"> + </h1>
              <div class="col">
                <img id="secondImg" style="width: 100%; max-height: 150px;"
                  v-bind:src="dispensed.selectedMixer.picture">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" v-if=" app_state === 'front_page' ">
      <div style="margin: 0 auto; padding-top: 40px; width: 480px;">
        <button id="ginMeUp" v-on:click="ginMeUp()" class="btn btn-info btn-lg"
          style="font-size: 5rem; width: 100%; background-color: #0096ff; border-color: #0096ff;">
          Juice me up!
        </button>
      </div>
    </div>
    <div class="row" v-if=" app_state === 'collect_drink' ">
      <div style="margin: 0 auto; padding-top: 40px; width: 480px;">
        <button id="backToHome" v-on:click="app_state = 'front_page'" class="btn btn-info btn-lg"
          style="font-size: 5rem; width: 100%; background-color: #0096ff; border-color: #0096ff;">Restart...</button>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="./juice.js"></script>
</body>

</html>